/* CSS Document */

body{
	background: url(../images/fondo3.jpg) no-repeat fixed center !important;
	background-size: cover !important;

	background-image: -o-repeating-linear-gradient(rgb(27, 23, 23)) !important;
	color: wheat !important;
	
	
}
.imagen-back{
	opacity: 0.6 ;
}

footer{
	background-color: #1b1717 !important;
	margin-top: 20px;
	
	
}

img {
	
	border-radius: 10px;
}

#Contenedor{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:16px;

	
}

#Encabezado{
	display:block;
	margin: 0 auto;
	
}

/* a[href^='#']{
	
	color:rgb(56, 122, 167);
} */

img[src$='.svg']{
	border-radius: 50px;
	
}